<mat-card class="container mt-4 p-4">
  <h2>{{ this.id ? "Edit" : "Create" }} Inventory Item</h2>
  <form [formGroup]="inventoryForm" (ngSubmit)="saveItem()">
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" name="name" required />
      <mat-error
        *ngIf="
          inventoryForm.get('name')?.invalid &&
          inventoryForm.get('name')?.touched
        "
      >
        Name is required.
      </mat-error>
    </mat-form-field>

    <!-- Category Field -->
    <mat-form-field class="w-100">
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" />
      <mat-error
        *ngIf="
          inventoryForm.get('category')?.invalid &&
          inventoryForm.get('category')?.touched
        "
      >
        Category is required.
      </mat-error>
    </mat-form-field>

    <!-- Stock Quantity Field -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>Stock Quantity</mat-label>
      <input matInput type="number" formControlName="stockQuantity" />
      <mat-error
        *ngIf="
          inventoryForm.get('stockQuantity')?.invalid &&
          inventoryForm.get('stockQuantity')?.touched
        "
      >
        Stock quantity must be 0 or greater.
      </mat-error>
    </mat-form-field>

    <div class="d-flex gap-2">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="inventoryForm.invalid"
      >
        Save
      </button>
      <button mat-button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</mat-card>
